*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.sidebar{
    width: 6%;
    height: 100%;
    position: fixed;
    background: lightgoldenrodyellow;
    padding: 5px;
}
.sidebar ul{
    float: left;
    list-style-type: none ;
    margin-top: 50px;
    margin-left: 0px;
}
.sidebar ul li{
    display: inline-flex;
    margin: 2px;
}
.sidebar li a{
    color: #000;
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.4s ease;
}
.sidebar li a:hover{
    color: #ff5252;
}
.sidebar img{
    width: 15px;
    height: 15px;
}

.topbar{
    background-color: lightgrey;
    cursor: pointer;
    text-align: left;
    padding: 30px;
}
.topbar ul{
    float: right;
}
.topbar li {
    display: inline;
    padding: 10px;
}
.topbar h3{
    float: left;
    margin-left: 100px;
}
.layoutTitle{
    margin-left: 200px;
    margin-top: 15px;
}
.topbar .main img{
    width: 20;
    height: 20;
}
/* .form-popup1 {
  position: fixed;
  top: 200px;
  left: 500px;
  border: 5px solid #f1f1f1;
}
.form-popup2 {
    position: fixed;
    top: 200px;
    left: 500px;
    border: 5px solid #f1f1f1;
  }
  .form-popup3 {
    position: fixed;
    top: 200px;
    left: 500px;
    border: 5px solid #f1f1f1;
  }
.form-container {
  max-width: 320px;
  padding: 10px;
  background-color: white;
} */

.form-popup{
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    width: 400px;
    height: 350px;
    padding: 40px;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,.5);
    box-sizing: border-box;
    border-radius: 10px;
}
 .form-popup h3{
     margin: 0 0 30px;
     padding: 0;
     color: rgb(48, 39, 39);
     text-align: center;
 }
 .box{
    position: relative;
 }
 .form-popup .box input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.form-popup .box label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.form-popup .box input:focus ~ label,
.form-popup .box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.btn{
    padding: 10px;
    margin: 15px 0;
}
.cancel{
    padding: 10px 30px;
    margin: 10px 10px 0 88px;
}