
/*
 Syling for Top bar
 */
.top{
    position: sticky !important;
    margin: -8px;
    height: 65px;
    display: flex;
    background-color:#e2e2e2;
    box-shadow: 0 2px 20px rgba(0,0,0,0.6);

}
 .top h2{
     margin-left: 225px;
     float: left;
 }
  .top ul{
      margin-top: 23px;
      float:right;
      position: absolute;
      right: 200px;
  }

  .top li {
      cursor: pointer;
      padding: 10px;
      display: inline;

  }

  .top li img{
      height: 25px;
      width: 25px;
  }

  .signin{
      cursor: pointer;
      color: rgb(10, 176, 241);
      position: absolute;
      bottom: 0;
  }
  .signup{
    cursor: pointer;
    position: absolute;
    left: 302px;
    bottom: 0px;
    background-color: blue;
    color: rgb(5, 224, 253);
    border-radius: 25px;
}
.signup:hover {
    color: rgb(21, 199, 140);
    background-color: #251155;
  }
  
/*
 Syling for Side bar
 */
.side{
    margin: -8px;
    height: 100%;
    width: 180px;
    padding: 20px;
    background-color: #e2e2e2;
    position: fixed;
}

 .side img{
     padding-right: 10px;
     height: 15px;
     width: 15px;
 }
 .side ul{
    padding-top: 35px;
    align-items: center;
    list-style-type: none;
 }

 .side li{
    font-size: 20px;
     cursor: pointer;
     padding: 10px;
 }
 
 .side li:hover{
    color: rgb(37, 66, 231);
}
 h1{
    position: sticky !important;
    padding-left: 320px;   
 }

 /*
 Syling for form
 */
 .form-popup{
    display: none;
    position: fixed;
    top: 50%;
    bottom: 50%;
    left: 50%;
    width: 400px;
    height: 350px;
    padding: 40px;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,.5);
    box-sizing: border-box;
    border-radius: 10px;
}
 .form-popup h3{
     margin: 0 0 30px;
     padding: 0;
     color: rgb(48, 39, 39);
     text-align: center;
 }
 .box{
    height: 38px;
    position: relative;
 }
 .error-box{
     padding: 2px;
     text-align: right;
     color: transparent;
     height: 20px;
 }
 .form-popup .box input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.form-popup .box label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.form-popup .box input:focus ~ label,
.form-popup .box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.button{
    padding: 10px;
    margin: 15px 0;
}
.cancel{
    padding: 10px 30px;
    margin-left:  88px;
}

/*
 Syling for Greeting cards
 */
.card-box{
    padding: 10px;
}

.greeting-cards {
    flex-wrap: wrap;
    display: flex;
    margin-left: 18%;
    position: absolute;
  }

.data{
    font-family: "Comic Sans MS";
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 14px;
 }
.grid-box {
    background-color: #d8d5d2;
    box-shadow: 0 6px 10px rgba(0,0,0,0.6);
    margin-left: 45px;
    margin-top: 25px;
    padding: 10px;
    width: 250px;
    height: 150px;
    font-size: 22px;
    border-radius: 10px;
  }

  .div-card1 img,img{
      cursor: pointer;
      height: 15px;
      width: 15px;
      
  }
  .div-card1 {
    left: 190px;
    width: 7%;
    position: relative;
}
.div-card2 {
    position: relative;
    left: 90%;
    bottom: 17.5%;
}
.deleteBoxConformation{
    margin-left: 40%;
    margin-top: 10%;
    background-color: #d8d5d2;
    box-shadow: 0 6px 10px rgba(0,0,0,0.6);
    padding: 15px;
    width: 350px;
    height: 242px;
    font-size: 15px;
    border-radius: 10px;
}
.deleteBoxConformation p{
    font-size: 20px;
    padding-top: 10%;
    text-align: center;
}
.delete-button1{
    margin-left: 5%;
    position: relative;
    top: 35%;
    padding: 10px;
}
.delete-button2{
    margin-left: 50%;
    position: relative;
    top: 35%;
    padding: 10px;
}